*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, Arial, sans-serif;
    background-color: aliceblue;
    color: steelblue;
    font-size: 16px;
    font-weight: 400;
    background-image:url("/phase-0-project-personalwebsite/images/pink.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
}

.navibar{
    background: rgb(116, 191, 116);
    background-image: url("/phase-0-project-personalwebsite/images/travel.jpg");
    height: 300px;
}

.navibar .logo{
    font-size: 130px;
    font-weight: bold;
    text-shadow: 4px 6px 6px black;
    color: steelblue;
    padding: 10px;
    margin-bottom: 10px;
    position:relative;
    left:  32px;
    top: -28px;
}

.navibar a:hover{
    color: red;
}

.navibar a{
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: peachpuff;
    
    background-color: rgb(22, 154, 22);
    box-shadow: 2px 2px 7px 1px #0b1eca;
    margin-left: 20px;
    margin-top: 50px;
    padding: 20px;

}

.navibar .container{
  display: block;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
}

.navibar ul li{
    margin-left: 45px;
}


img{
    align-items: left;
    width: 300px;
    height: 333px;
    padding: 30px;
    margin: 10px;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  
}

.localcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

@media (max-width: 820px) {
    
    .navibar .logo{
     font-size: 100px;
     padding: 0px;
     margin: 0px;
    }

     p{
         display: flex;
         align-items: center;
         flex-direction: column;
         align-content: flex-start;
         padding: 0;
     }
    

    #space{
        justify-content: space-around;
        margin-top:250px;
        padding: 0;
    }
}